* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background: #f54776;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Lato', sans-serif;
}

.title h1 {
  font-size: 90px;
  margin-bottom: -10px;
}

.title-divide {
  width: 140px;
  height: 4px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  display: block;
  margin: 10px auto;
}

#big-circle {
  margin: 50px auto;
  width: 400px;
  height: 400px;
  border: 70px solid rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  display: table;
  position: relative;
}

#big-circle span.number {
  font-family: 'Baloo Thambi', sans-serif;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 250px;
  color: rgba(0, 0, 0, 0.3);
}

#big-circle .mini-circle-wrapper {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#big-circle span.mini-circle {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: -1;
}

.controls {
  width: 400px;
  height: 400px;
  position: absolute;
}

#control {
  position: absolute;
  background: #ffb629;
  border-radius: 40px;
  width: 20px;
  height: 60px;
  left: 0;
  right: 0;
  top: -65px;
  margin: 0 auto;
  z-index: 1;
}

.play-again {
  position: absolute;
  text-align: center;
  font-family: 'Baloo Thambi', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.play-button {
  font-size: 50px;
  width: 250px;
  padding: 13px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.5);
  display: block;
  margin: 100px auto 0;
  cursor: pointer;
}
